<div class="container-fluid" style="margin-top: 10px">
    <div class="row-fluid" >

        <div class="span4 pos-left-container" >
            <div class="row-fluid">
                <div class="span12 pos-order-number-container">
                        <div autofocus="autofocus" placeholder="Ordem" type="number" pattern="\d*" name="pos-order-number" class="span12 pos-order-number numbersOnly" value="">Ordem</div>
                </div>
            </div><!-- END OF ORDER NUM ROW -->
            <div class="row-fluid pos-cliente-container">
                <div class="span12">
                     <div type="number" placeholder="Contribuinte" name="pos-cliente" class="span12 pos-cliente numbersOnly" value="">Contribuinte</div>
                 </div>

            </div><!-- END OF CLIENTE ROW -->
            <div class="row-fluid">

                <div class="span12 pos-diassemana-container">
                    <div class="btn btn-pos btn-dia" data-id="1">Segunda</div>
                    <div class="btn btn-pos btn-dia" data-id="2">Terça</div>
                    <div class="btn btn-pos btn-dia" data-id="3">Quarta</div>
                    <div class="btn btn-pos btn-dia" data-id="4">Quinta</div>
                    <div class="btn btn-pos btn-dia" data-id="5">Sexta</div>
                    <div class="btn btn-pos btn-dia" data-id="6">Sábado</div>
                </div>
            </div><!-- END OF DIAS DA SEMANA NUM ROW -->
            <div class="row-fluid">
                <div class="span12 pos-visor-container">
                    
                </div>
                <div class="row-fluid">
                        <div class="span12 pos-total">
                            <div class="span5 descricao">Total</div>
                            <div class="span4 extra"></div>
                            <div class="span3 valor">€ 0.00</div>
                        </div>
                    </div>
            </div><!-- END OF VISOR ROW -->



                    <div class="row-fluid">
                        <div class="span12 pos-dinheiro">
                            <div class="btn btn-pos btn-op subtotal" data-id="subtotal">SubTotal</div>
                            <div class="btn btn-pos btn-op desconto" data-id="desconto">Desconto</div>
                            <div class="btn btn-pos btn-op deve" data-id="deve">Deve</div>
                            <div class="btn btn-pos btn-op liquido" data-id="liquido">Liquido</div>

                       </div>
                   </div><!-- END OF REGISTAR ops -->
                    <div class="row-fluid">
                        <div class="span12 pos-extra">
                            <!-- abrir gaveta, cancelar (ultimo registo ou ordem toda), imprimir (mostrar ultimos registos para imprimir novamente) -->
                            <!--div class="btn btn-pos btn-op engomar">Engomar</div-->
                            <div class="btn btn-pos btn-op gaveta">Abrir Gaveta</div>
                            <div class="btn btn-pos btn-op cancelar">Cancelar</div>
                            <div class="btn btn-pos btn-op imprimir">Imprimir</div>
                            <div class="btn btn-pos btn-op limpar">Limpar</div>
                            <div class="btn btn-pos btn-op fechocaixa">Fecho Caixa</div>
                        </div>
                    </div><!-- END OF REGISTAR adic -->


        </div><!-- END OF POS LEFT -->
        <div class="span8 pos-right-container" >
            <div class="row-fluid pos-row pos-row-header pos-caracteristicas-header" >
                <h3>Caracteristicas</h3>
            </div>
            <div class="span12 pos-caracteristicas-row">
                {{#each caracteristicas1}}
                <a class="btn btn-pos pos-caracteristica" data-id="{{nome}}">{{nome}}</a>
                {{/each}}
            </div>
            <div class="span12 pos-caracteristicas-row">
                {{#each caracteristicas2}}
                <a class="btn btn-pos pos-caracteristica" data-id="{{nome}}">{{nome}}</a>
                {{/each}}
            </div>
            <div class="row-fluid pos-row pos-row-header" >
                <h3>Artigos</h3>
            </div>
            <div class="row-artigos">
            <div class="row-fluid pos-row" >
                <div class="span12 pos-row-container" data-row="1">
                    {{#each artigos}}
                    {{#ifCond 1 linha}}  
                    <a class="btn btn-pos btn-artigo {{#if this.cor}} btn-artigo-cor{{/if}}" data-precoEngomarSemIva="{{this.precoEngomarSemIva}}" data-precoEngomar="{{this.precoEngomar}}" data-precoFinal="{{this.precoFinal}}" data-iva="{{this.iva}}" data-precoSemIva="{{this.precoSemIva}}" data-nome="{{this.nome}}" data-id="{{this.id}}">{{this.nome}}</a>
                    {{/ifCond}}
                    {{/each}}
                </div>
            </div>
            <!-- END OF ROW 1-->
            <div class="row-fluid pos-row" >
                <div class="span12 pos-row-container" data-row="2">

                    {{#each artigos}}
                    {{#ifCond 2 linha}}  
                    <a class="btn btn-pos btn-artigo {{#if this.cor}} btn-artigo-cor{{/if}}" data-precoEngomarSemIva="{{this.precoEngomarSemIva}}" data-precoEngomar="{{this.precoEngomar}}" data-precoFinal="{{this.precoFinal}}" data-iva="{{this.iva}}" data-precoSemIva="{{this.precoSemIva}}" data-nome="{{this.nome}}" data-id="{{this.id}}">{{this.nome}}</a>
                    {{/ifCond}}
                    {{/each}}
                </div>
            </div>
            <!-- END OF ROW 2-->
            <div class="row-fluid pos-row" >
                <div class="span12 pos-row-container" data-row="3">

                    {{#each artigos}}
                    {{#ifCond 3 linha}}  
                     <a class="btn btn-pos btn-artigo {{#if this.cor}} btn-artigo-cor{{/if}}" data-precoEngomarSemIva="{{this.precoEngomarSemIva}}" data-precoEngomar="{{this.precoEngomar}}" data-precoFinal="{{this.precoFinal}}" data-iva="{{this.iva}}" data-precoSemIva="{{this.precoSemIva}}" data-nome="{{this.nome}}" data-id="{{this.id}}">{{this.nome}}</a>
                    {{/ifCond}}
                    {{/each}}
                </div>
            </div>
            <!-- END OF ROW 3-->
            <div class="row-fluid pos-row" >
                <div class="span12 pos-row-container" data-row="4">

                    {{#each artigos}}
                    {{#ifCond 4 linha}}  
                    <a class="btn btn-pos btn-artigo {{#if this.cor}} btn-artigo-cor{{/if}}" data-precoEngomarSemIva="{{this.precoEngomarSemIva}}" data-precoEngomar="{{this.precoEngomar}}" data-precoFinal="{{this.precoFinal}}" data-iva="{{this.iva}}" data-precoSemIva="{{this.precoSemIva}}" data-nome="{{this.nome}}" data-id="{{this.id}}">{{this.nome}}</a>
                    {{/ifCond}}
                    {{/each}}
                </div>
            </div>
            <!-- END OF ROW 4-->
            <div class="row-fluid pos-row" >
                <div class="span12 pos-row-container" data-row="5">

                    {{#each artigos}}
                    {{#ifCond 5 linha}}  
                    <a class="btn btn-pos btn-artigo {{#if this.cor}} btn-artigo-cor{{/if}}" data-precoEngomarSemIva="{{this.precoEngomarSemIva}}" data-precoEngomar="{{this.precoEngomar}}" data-precoFinal="{{this.precoFinal}}" data-iva="{{this.iva}}" data-precoSemIva="{{this.precoSemIva}}" data-nome="{{this.nome}}" data-id="{{this.id}}">{{this.nome}}</a>
                    {{/ifCond}}
                    {{/each}}
                </div>
            </div>
            <!-- END OF ROW 5-->
            <div class="row-fluid pos-row" >
                <div class="span12 pos-row-container" data-row="6">

                    {{#each artigos}}
                    {{#ifCond 6 linha}}  
                     <a class="btn btn-pos btn-artigo {{#if this.cor}} btn-artigo-cor{{/if}}" data-precoEngomarSemIva="{{this.precoEngomarSemIva}}" data-precoEngomar="{{this.precoEngomar}}" data-precoFinal="{{this.precoFinal}}" data-iva="{{this.iva}}" data-precoSemIva="{{this.precoSemIva}}" data-nome="{{this.nome}}" data-id="{{this.id}}">{{this.nome}}</a>
                    {{/ifCond}}
                    {{/each}}
                </div>
            </div>
            <!-- END OF ROW 6-->
            <div class="row-fluid pos-row">
                <div class="span12 pos-row-container" data-row="7">

                    {{#each artigos}}
                    {{#ifCond 7 linha}}  
                    <a class="btn btn-pos btn-artigo {{#if this.cor}} btn-artigo-cor{{/if}}" data-precoEngomarSemIva="{{this.precoEngomarSemIva}}" data-precoEngomar="{{this.precoEngomar}}" data-precoFinal="{{this.precoFinal}}" data-iva="{{this.iva}}" data-precoSemIva="{{this.precoSemIva}}" data-nome="{{this.nome}}" data-id="{{this.id}}">{{this.nome}}</a>
                    {{/ifCond}}
                    {{/each}}
                </div>
            </div>
            <!-- END OF ROW 7-->
        </div>
        </div><!-- END OF POS RIGHT -->
    </div>
</div>