input{
    font-family: monospace; !important;
}

.pos-row{
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
}

.pos-row h3{
    text-align: left;
    margin-left: 1%;
    margin-right: 1%;
    border-bottom: 1px solid black;
}
.btn-pos{
    max-height: 60px;
    min-height: 60px;
    width: 5.3%;
    padding: 0.5% 2%;
    text-wrap: normal;
    overflow-wrap: break-word;
    overflow: hidden;
    font-size: 13px;
    margin-bottom: 5px;
    color: #111;
    font-weight: bold;
}

.btn-pos:hover{
    background-position: inherit;
}

.btn-pos.deve{
    background-image: linear-gradient(to bottom,#FFF,rgba(244, 95, 95, 0.64));
}

.btn-pos.liquido{
    background-image: linear-gradient(to bottom,#FFF,rgba(95, 244, 155, 0.64));
}

.btn-dia{
    width: 11%;
    max-height: 30px;
    min-height: 30px;
    font-size: 14px;

}

.btn-op{
    width: 15%;
    max-height: 30px;
    min-height: 30px;
    font-size: 12px;
}

.btn-pos.btn-op-engomar{
    background-image: linear-gradient(to bottom,#FFF,rgba(244, 214, 95, 0.64));
    text-transform: uppercase;
}

.row-artigos{
    margin-left: 15px;
}

.btn-artigo-cor {
    background-color: rgb(95, 188, 244);
    background-image: linear-gradient(to bottom,#fff,rgb(95, 188, 244));
}

.pos-order-number-container{
    margin-top: 15px;
    margin-bottom: 5px;
}
.pos-order-number-container h3{
    text-align: left;
    border-bottom: 1px solid black;
}
.pos-order-number{
    height: 90px !important;
    line-height: 90px !important;
    font-size: 60px !important;
    text-align: center;
    background-color: black !important;
    color: white !important;
    font-weight: bold !important;
}

.pos-order-number::-webkit-input-placeholder { 
    font-style:italic; 
    text-decoration:overline; 
    letter-spacing:3px; 
    color:#999; 
    font-size: 26px;
    margin-top: 5px;
}


.pos-cliente-container{
    font-size: 20px;
    height: 40px !important;
    line-height: 40px !important;
    background-color: #EEE !important;
    color: black !important;
    font-weight: bold !important;
    text-align: center;
    margin-bottom: 10px

}

.pos-diassemana-container{
    text-align: center;
}


.pos-cliente{
    height: 40px !important;
    font-size: 20px !important;
    text-align: center;
}

.pos-cliente.error {
  background-color: rgba(255, 0, 0, 0.10);
}
.pos-cliente.ok {
  background-color: rgba(0, 255, 112, 0.10);
}

.cliente-editor {
    position: fixed;
    left: 20px;
    height: 30px;
    text-align: center;
    font-size: 15px;
}

.pos-visor-container{
    min-height: 520px !important;
    background-color: white;
    font-family: monospace;
    font-size: 16px;
    border: 1px solid #CCC;
    margin: 10px;
    padding: 15px;
    max-height: 520px;
    overflow-y: auto;
}

.pos-visor-container .linha{
    border-bottom: 1px solid #F0F0D0;
}

.pos-visor-container .valor{
    text-align: right;
}

.pos-visor-container .subtotal, .pos-visor-container .desconto, .pos-visor-container .total{
    padding: 0px 0px 0px 15px;
}

.pos-visor-container .extra{
    font-size: 14px;
}

.pos-total{
    border-top: 1px solid #000000;
    font-weight: bold;
    font-size: 22px;
    padding: 5px 0px 0px 15px;
}

.btn-remover{
    font-size: 1.2rem;
}

.pos-visor-container .caracteristica .descricao,.pos-visor-container  .linhacaracteristica{
    font-size: 12px;
    text-align: center;
    font-style: italic;
}

.pos-dinheiro{
    text-align: center;
    margin-bottom: 10px;
}

.pos-extra{
    text-align: center;

}

.modal-desconto .btn {
    padding: 20px 30px;
    font-size: 20px;
    min-width: 30px;
    min-height: 30px;
}

.modal-desconto .input-desconto-modal {
    font-size: 45px;
    background-color: #000;
    color: white;
    padding: 15px;
    margin-bottom: 10px;
    width: 300px;
    text-align: center;
    margin-left: 40px;
    min-height: 50px;
    line-height: 50px;
}

.linha-subtotal .linha .valor, .linha-desconto .linha .valor {
    float: right;
}

.linha-subtotal .linha,  .linha-desconto .linha{
    color: #666;
    font-style: italic;
}