@(message: String)

@main("Welcome to Play 2.1") {

<div class="container">
    <div class="hero-unit">
        <h1>LAVANDARIA BRACARENSE</h1>
        <p>
            POS #1
        </p>

        </div>
    <div class="globalContent">

    </div>

    <div class="modal modal-desconto" style="display:none">
        <div class="row-fluid">
            <div class="span12 pos-extra">
                <div class="input-desconto-modal" data-desc="0" data-unidade="%">0</div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12 pos-extra">
                <div class="btn  btn-desconto btn-1">1</div>
                <div class="btn  btn-desconto btn-2">2</div>
                <div class="btn  btn-desconto btn-3">3</div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12 pos-extra">
                <div class="btn  btn-desconto btn-3">3</div>
                <div class="btn  btn-desconto btn-4">4</div>
                <div class="btn  btn-desconto btn-5">5</div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12 pos-extra">
                <div class="btn  btn-desconto btn-1">6</div>
                <div class="btn  btn-desconto btn-2">7</div>
                <div class="btn  btn-desconto btn-3">8</div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12 pos-extra">
                <div class="btn  btn-desconto btn-0">0</div>
                <div class="btn  btn-desconto btn-9">9</div>
                <div class="btn  btn-desconto btn-desconto-comma">.</div>
            </div>
        </div>
        <div class="row-fluid" style="text-align: center;margin-top: 15px;">
            <div class="btn btn-desconto-ok btn-primary">OK</div>
            <div class="btn btn-desconto-cancelar">Cancelar</div>
            <div class="btn btn-desconto-x">X</div>
        </div>
    </div>
</div>


<footer class="copy">
    <p> Lavandaria Bracarense 2014</p>
</footer>
</div> <!-- /.container -->
<script src="@routes.Assets.at("javascripts/vendor/bootstrap/bootstrap.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/vendor/jquery.csv-0.71.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/vendor/bootstrap.modalform.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/vendor/underscore.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/vendor/handlebars-v1.3.0.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/vendor/jquery.modal.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/vendor/pouchdb-2.1.0.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/app/base.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/app/main.js")" type="text/javascript"></script>
}
